doctype html

html(lang="en")

	head
		title NPV | HAWB
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		style.
			#loading{-webkit-transition:.8s;-o-transition:.8s;position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;transition:.8s;background:#fff;width:100%;height:100%}#loading #progress{-webkit-transition:.8s;-o-transition:.8s;display:none;transition:.8s;background:#000;width:0;height:1px}#loading #progress,#loading .progstat-wrapper{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);position:absolute;top:50%;transform:translateY(-50%)}#loading .progstat-wrapper{margin-top:0;width:100%;color:#000;font-size:14px;font-weight:300;letter-spacing:3px;text-align:center}#loading .logo-loader{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);margin-top:-100px;width:350px;height:350px}
		script.
			!function(){function n(n){return document.getElementById(n)}document.addEventListener("DOMContentLoaded",function(){var e=n("loading"),t=n("progress"),o=n("progstat"),r=document.images,i=0,d=r.length;if(0==d)return u();function a(){var n=100/d*(i+=1)<<0;if(t.style.width=n,o.innerHTML=n,i===d)return u()}function u(){e.style.opacity=0,setTimeout(function(){e.style.display="none";var n=document.getElementById("loading");n.parentNode.removeChild(n)},1500)}for(var c=0;c<d;c++){var s=new Image;s.onload=a,s.onerror=a,s.src=r[c].src}},!1)}();
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap&subset=vietnamese" rel="stylesheet">

	body
		//- LOADING
		#loading
			.logo-loader
				img(src="./img/loading.gif", alt="")
			.progstat-wrapper Loading: 
				span#progstat 0
				| %
			#progress
		#fb-root
		//- MAIN CONTENT
		section#doc-form
			.content-docForm
				.container
					.bang-hawb
						table
							tr
								td(colspan=2 rowspan=2).col-table-6
									span Shipper
									p CX TECHNOLOGY ( VN ) CORPORATION LOT CT, LOT T, AREA C, TAN THUAN EXPORT PROCESSING ZONE, TAN THUAN DONG WARD, DISTRICT 7, HO CHI MINH CITY, VIETNAM
								td.none-border-right(colspan=2 rowspan=3).col-table-6.text-center
									p.text-left Not Nego tiable
									h3.text-left Air Waybill
								td(colspan=1 rowspan=3).col-table-6.text-center.vertical-center
									img(src="./img/HBL-logo.jpg", alt="", srcset="")
							tr
							tr
								td(colspan=1 rowspan=3)
									span Consignee's Name And Addess
									p GRAND MAX CO.,LTD NO.479, ROOM NO. (A2), AYE YEIK THAR LANE 2, NEW UNIVERSITY AVENUE ROAD, BAHAN TOWNSHIP, YANGON, **
								td(colspan=1 rowspan=3)
									span Consignee's Account Nummber
							tr
								td(colspan=3 rowspan=1).w-50
									p Copy 1, 2 and 3 of this Air Way Bil are originals and have the same vaidty.
							tr
								td(colspan=3 rowspan=2).w-50
									p It is agreed that the goods descibed hererin are accepted in apparent good order and condion except as noted) for carrage subject to conditions of contract on the rrs harnal The shippers aHention Es drawn to the notice of concerning carrier's intaton.of linbeity shioper may fvase such linitaton of liablity by declar
							tr
								td(colspan=2 rowspan =2)
									span Issuing Carrier's Agent Name and City
									h4.text-left NPV EXPRESS & LOGISTICS CO.,LTD
							tr
								td(colspan=3 rowspan=5).w-50
									span Consignee's Name And Addess
									h4.text-left FREIGHT PREPAID
							tr
								td(colspan=1 rowspan =2)
									span Agent's IATA Code
								td(colspan=1 rowspan =2)
									span Account No.
							tr
							tr
								td(colspan=2 rowspan=2)
									span Airport of Departure (Addr, of First Carrier and request)
									p TAN SON NHAT AIRPORT, VIETNAM
						table
							tr
								th
									span to
								th
									span By First Carrier
									br
									| (Routing and Desstination)
								th
									span to
								th
									span by
								th
									span to
								th
									span by
								th
									span Currency
								th
									span CHGS Code
								th(colspan=2)
									span WT/VA
								th(colspan=2)
									span Other
								th
									span Declared Value for Carriage
								th
									span Declared Value for Custom
							tr
								td
									p RGN
								td
									p VN
								td
									p
								td
									p
								td
									p
								td
									p
								td
									p USD
								td
									p
								td
									span PPD
								td
									span COLL
								td
									span PPD
								td
									span COLL
								td
									p NVD
								td
									p NCV
						table
							tr
								th
									span Airport of Destination
								th(colspan=2).text-center
									span For carrier use only
								th
									span Amount of Insurance
							tr
								td YANGON
								td(colspan=1).text-center
									span Fight / Date
									//- content in <p>
									p
								td(colspan=1).text-center
									span Fight / Date
									//- content in <p>
									p
								td
									//- content in <p>
									p Insurance-I Carner offers insurance and such insurance is requested in accordance with conditions on reverse hereaf, indicate amount to be insured in figures in box marked Amount of Insurance.Type a message
						table
							tr
								td.no-border-top
									span Handling information
									p 27AUG19
						table
							tr
								th
									span No. of Pieces RCP
								th
									span Gross Weight
								th(colspan=2).text-center
									span Rate Class
								th
									span Chargeable Weight
								th
									span Rate / Charge
								th
									span Total
								th
									span Nature quantity of Goods
									span (incl. Dimensions of Volume)
							tr
								td
								td
								td(colspan=1).text-center
									span Kglb
									//- content in <p>
									p
								td(colspan=1).text-center
									span Commodity Item No.
									//- content in <p>
									p
								td
									p 320.00
								td
									p
								td
									p AS ARRANGED
								td
									p WALLACE MACRO IRHD
									p HARDNESB TEST
									p MODEL H14/1
									p WALLACE MICRO IRHD HARDNESS
									p TESTER
									p MODEL H12/1
									p WAIIACE RAPPID PLASTIMETER
									p MKV – REF: P14/1
									p WALLACE AGEING OVEN O14
									p LOVIBOND COLOR BOX
									p MANUAL HYDRAULIC PRESS
									p * FAX: (84-28) 3948 0098
									p REPRESENTED BY: MR NGUYEN
									p ANH KIET - DIRECTOR
									p ** MYANMAR. (11201)
									p TEL: (+95)1-8604011,8604009,401119
									p REPRESENTED BY: DR ZAW NAING
									p - DIRECTOR
						table
							tr
								th(colspan=2).text-center
									span Weight Charge
								th
									span Orther Charge
							tr
								td(colspan=1).text-center
									span Prepaid
									//- content in <p>
									p AS ARRANGED
								td(colspan=1).text-center
									span Collect
									//- content in <p>
									p
								td.w-50
									//- content in <p>
									p
						table
							tr
								th(colspan=2).text-center
									span Valuation Charge
								th
									span Insurance premium
							tr
								td(colspan=1).text-center
									//- content in <p>
									p
								td(colspan=1).text-center
									//- content in <p>
									p
								td.w-50
									//- content in <p>
									p - DIRECTOR
						table
							tr
								th(colspan=2).text-center
									span Tax
								th
									span
							tr
								td(colspan=1).text-center
									//- content in <p>
									p
								td(colspan=1).text-center
									//- content in <p>
									p
								td.w-50
									//- content in <p>
									p
						table
							tr
								th(colspan=2).text-center
									span Total Other Charges Due Agent
								td(rowspan=6).no-border-top.w-50
									p.italic Shipper certies that the particulars on the face hereof are correct and that insofar as any part of the consignment contains dangerous goods, such part is property described by name and is in proper condition for carmage by air according to the applicable Dangerous Goods Regulations
									p.text-center .............................................................................................................
									p.text-center Signature of Shipper or his Agent
							tr
								td(colspan=1).text-center
									//- content in <p>
									p AS ARRANGED
								td(colspan=1).text-center
									//- content in <p>
									p THIS IS CONTENT
							tr
								th(colspan=2).text-center
									span Total Other Charges Due Carrier
							tr
								td(colspan=1).text-center
									//- content in <p>
									p THIS IS CONTENT
								td(colspan=1).text-center
									//- content in <p>
									p THIS IS CONTENT
							tr
								th
									span Total Prepaid
								th
									span Total Collect
							tr
								td
									//- content in <p>
									p THIS IS CONTENT
								td
									//- content in <p>
									p THIS IS CONTENT
						table
							tr
								th
									span
								th
									span
								th
									span
							tr
								td
									p THIS IS CONTENT
								td
									p THIS IS CONTENT
								td.w-50
									p THIS IS CONTENT
							tr
								th
									span Currency Conversion Rate
								th
									span oc charges in Dest Currency
							tr
								td
									p
								td
									p
		//- include scripts
		//- GOOGLE MAP
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s&libraries=places")
		//- FACEBOOK
		//- script(type="text/javascript", src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3') 
		script(type="text/javascript", src="./js/map.js")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")
