doctype html

html(lang="en")

	head
		title NPV | Booking - 01
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		style.
			#loading{-webkit-transition:.8s;-o-transition:.8s;position:fixed;top:0;right:0;bottom:0;left:0;z-index:99999;transition:.8s;background:#fff;width:100%;height:100%}#loading #progress{-webkit-transition:.8s;-o-transition:.8s;display:none;transition:.8s;background:#000;width:0;height:1px}#loading #progress,#loading .progstat-wrapper{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);position:absolute;top:50%;transform:translateY(-50%)}#loading .progstat-wrapper{margin-top:0;width:100%;color:#000;font-size:14px;font-weight:300;letter-spacing:3px;text-align:center}#loading .logo-loader{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);margin-top:-100px;width:350px;height:350px}
		script.
			!function(){function n(n){return document.getElementById(n)}document.addEventListener("DOMContentLoaded",function(){var e=n("loading"),t=n("progress"),o=n("progstat"),r=document.images,i=0,d=r.length;if(0==d)return u();function a(){var n=100/d*(i+=1)<<0;if(t.style.width=n,o.innerHTML=n,i===d)return u()}function u(){e.style.opacity=0,setTimeout(function(){e.style.display="none";var n=document.getElementById("loading");n.parentNode.removeChild(n)},1500)}for(var c=0;c<d;c++){var s=new Image;s.onload=a,s.onerror=a,s.src=r[c].src}},!1)}();
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap&subset=vietnamese" rel="stylesheet">

	body
		//- LOADING
		#loading
			.logo-loader
				img(src="./img/loading.gif", alt="")
			.progstat-wrapper Loading: 
				span#progstat 0
				| %
			#progress
		#fb-root
		//- MAIN CONTENT
		section#doc-form
			.header-docForm
				.container
					.row
						.col-lg-6
							.logo
								a(href="index.html")
									img.ofc(src="./img/logo-big.png", alt="", srcset="")
						.col-lg-6
							ul.thong-tin-cong-ty
								.item NPV EXPRESS & LOGISTICS
								.item Floor 4, Thang Long Building, 29 Thang Long, Ward 04, Tan Binh
								.item District, HCMC, Viet Nam
								.item Tel: +84 3848 7858 Ext: 17 Fax: +84 3848 8858
								.item E-mail: linh-na@npvexpress.com
			.content-docForm
				.container
					.row
						.title.col-lg-12
							.title-big BOOKING CONFIRMATION
						.bang-thong-tin-don-hang.col-lg-12
							table
								tbody
									tr
										td
											p.bold To
										td
											p NHAT MINH EQUIPMENT & CHEMICALS CO., LTD
										td
											p.bold From
										td
											p LAN LINH
									tr
										td
											p.bold Pic
										td
											p MR. KIET
										td
											p.bold Tel
										td
											p +84 3848 7858 Ext: 17
						.text.col-lg-12
							p Dear MR. KIET,
							p Thank you very much for your great support to out service. Please find here the flight schedule for your shipment from SGN to RGN on 27.Aug as follow:
						.bill.col-lg-12
							h3 BILL
							.item
								p MAWB: 
									span 738-43835326
							.item
								p HAWB: 
									span 738-43835326
								p 6 PCS
								p G.W (KGS): 
									span 308.000
								p CBM: 
									span 0.000
						.routing.col-lg-12
							h3 ROUTING
							table
								thead
									tr
										th
											p FROM:
										th
											p TO:
										th
											p FLIGHT:
										th
											p ETD:
										th
											p ETA:
								tbody
									tr
										td
											p SGN
										td
											p RGN
										td
											p VN943
										td
											p 27/Aug/2019 09:30
										td
											p 27/Aug/2019 11:05
						.thoi-gian-van-chuyen.col-lg-12
							.item
								p Cargo cut off time
								span 17:00, AUG 26, 2019
							.item
								p Document cut off
								span 16h00 / 26.Aug
						.text.col-lg-12
							p Please release cargo & document to our operation staff at: TCS
							p.bold Warehouse code: 02B1A03
							p Operation staff: MS VUI 08 3848 7858 (EXT 21)
						.text.col-lg-12
							p Dimension: 
							p We hope that this schedule would meet your demands. In case you need further information, we are very pleased to be of assistance.
						.text.col-lg-12
							p Thanks and best regards,
							p LAN LINH
						.text.col-lg-12
							p Dir. Tel No. : +84 3848 7858 Ext: 17
							p Cell : 0983600608







		//- include scripts
		//- GOOGLE MAP
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s&libraries=places")
		//- FACEBOOK
		//- script(type="text/javascript", src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3') 
		script(type="text/javascript", src="./js/map.js")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")